<section id="footer">
    <div class="inner">

        {% if site.about %}
                {{ site.about }}
        {% endif %}
        <ul class="copyright">
            {% if site.copyright %}
                {{ site.copyright }}
            {% endif %}
        </ul>

        {% if site.badges %}
            {% for badge in site.badges %}
                <img class="image" src="{{ badge }}">
            {% endfor %}
        {% endif %}

    </div>
</section>